flows.json
[{"id":"b80a685a.9c8be8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"35a6ad46.0828b2","type":"function","z":"b80a685a.9c8be8","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nvar apikey=\"qbdxHbpHFaR73uvH4SHL76WAiFeT-M6GU4YMrvlUvTKm\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["d37618c8.600498"]]},{"id":"d37618c8.600498","type":"http request","z":"b80a685a.9c8be8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":460,"wires":[["7c9ffc71.cf9814"]]},{"id":"451e92f.9ad476c","type":"debug","z":"b80a685a.9c8be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":360,"wires":[]},{"id":"7c9ffc71.cf9814","type":"function","z":"b80a685a.9c8be8","name":"Pre Prediction","func":"var id = global.get('id')\nvar age = global.get('age')\nvar bp = global.get('bp')\nvar sg = global.get('sg')\nvar al = global.get('al')\nvar su = global.get('su')\nvar rbc = global.get('rbc')\nvar pc = global.get('pc')\nvar pcc = global.get('pcc')\nvar ba = global.get('ba')\nvar bgr = global.get('bgr')\nvar bu = global.get('bu')\nvar sc = global.get('sc')\nvar sod = global.get('sod')\nvar pot = global.get('pot')\nvar hemo = global.get('hemo')\nvar pcv = global.get('pcv')\nvar wc = global.get('wc')\nvar rc = global.get('rc')\nvar htn= global.get('htn')\nvar dm = global.get('dm')\nvar cad = global.get('cad')\nvar appet = global.get('appet')\nvar pe = global.get('pe')\nvar ane = global.get('ane')\nvar token=msg.payload.access_token\nvar instance_id=\"9773e91c-9115-422b-bbea-8b3c8755822f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"id\",\"age\",\"bp\",\"sg\",\"al\",\"su\",\"rbc\",\"pc\",\"pcc\",\"ba\",\"bgr\",\"bu\",\"sc\",\"sod\",\"pot\",\"hemo\",\"pcv\",\"wc\",\"rc\",\"htn\",\"dm\",\"cad\",\"appet\",\"pe\",\"ane\"],\"values\": [[id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]}]}\nreturn msg","outputs":1,"noerr":0,"x":716.0000076293945,"y":411.9999990463257,"wires":[["4dfa906b.1b78"]]},{"id":"4dfa906b.1b78","type":"http request","z":"b80a685a.9c8be8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/c3084a2b-5b41-4068-9bc1-87fb3e858e44/predictions","tls":"","persist":false,"proxy":"","authType":"","x":809.5000076293945,"y":355.9999990463257,"wires":[["451e92f.9ad476c","8d0dc3b.b6e964"]]},{"id":"8d0dc3b.b6e964","type":"function","z":"b80a685a.9c8be8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":669.6000366210938,"y":251.60000133514404,"wires":[["826da6b1.697fc8"]]},{"id":"97e2ad4d.77d13","type":"ui_form","z":"b80a685a.9c8be8","name":"","label":"","group":"c4035464.585408","order":0,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"bp","value":"bp","type":"number","required":true,"rows":null},{"label":"sg","value":"sg","type":"number","required":true,"rows":null},{"label":"al","value":"al","type":"number","required":true,"rows":null},{"label":"su","value":"su","type":"number","required":true,"rows":null},{"label":"rbc","value":"rbc","type":"text","required":true,"rows":null},{"label":"pc","value":"pc","type":"text","required":true,"rows":null},{"label":"pcc","value":"pcc","type":"text","required":true,"rows":null},{"label":"ba","value":"ba","type":"text","required":true,"rows":null},{"label":"bgr","value":"bgr","type":"number","required":true,"rows":null},{"label":"bu","value":"bu","type":"number","required":true,"rows":null},{"label":"sc","value":"sc","type":"number","required":true,"rows":null},{"label":"sod","value":"sod","type":"number","required":true,"rows":null},{"label":"pot","value":"pot","type":"number","required":true,"rows":null},{"label":"hemo","value":"hemo","type":"number","required":true,"rows":null},{"label":"pcv","value":"pcv","type":"text","required":true,"rows":null},{"label":"wc","value":"wc","type":"text","required":true,"rows":null},{"label":"rc","value":"rc","type":"text","required":true,"rows":null},{"label":"htn","value":"htn","type":"text","required":true,"rows":null},{"label":"dm","value":"dm","type":"text","required":true,"rows":null},{"label":"cad","value":"cad","type":"text","required":true,"rows":null},{"label":"appet","value":"appet","type":"text","required":true,"rows":null},{"label":"pe","value":"pe","type":"text","required":true,"rows":null},{"label":"ane","value":"ane","type":"text","required":true,"rows":null}],"formValue":{"id":"","age":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":460,"wires":[["35a6ad46.0828b2"]]},{"id":"826da6b1.697fc8","type":"ui_text","z":"b80a685a.9c8be8","group":"c4035464.585408","order":1,"width":0,"height":0,"name":"","label":"Predicted Output","format":"{{msg.payload}}","layout":"col-center","x":990,"y":240,"wires":[]},{"id":"c4035464.585408","type":"ui_group","z":"","name":"Chronic KIdney Disease ","tab":"614ba06b.dd718","order":1,"disp":true,"width":"6","collapse":false},{"id":"614ba06b.dd718","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]